<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>

<body style="background:#0f0f0f; color:white; text-align:center;">

<h1 style="color:#d4af37;">Admin Dashboard</h1>

<a href="/logout" style="color:red;">Logout</a>

<h2>Bookings</h2>

{% for b in bookings %}
<div style="border:1px solid #444; margin:10px; padding:10px;">
    <p><b>{{ b.name }}</b> | {{ b.phone }}</p>
    <p>{{ b.service }} - {{ b.date }}</p>
    <p>Status: <b>{{ b.status }}</b></p>

    <a href="/approve/{{ b.id }}" style="color:green;">Approve</a>
    |
    <a href="/reject/{{ b.id }}" style="color:red;">Reject</a>
</div>
{% endfor %}

</body>
</html>