<!DOCTYPE html>
<html>
<head>
    <title>Edit Service</title>
</head>
<body>

<h1>✏️ Edit Service</h1>

<form method="POST" enctype="multipart/form-data">

    <input type="text" name="name" value="{{ service.name }}" required>
    <input type="text" name="price" value="{{ service.price }}" required>

    <p>Current Image:</p>
    {% if service.image %}
        <img src="{{ url_for('static', filename='uploads/' + service.image) }}" width="150">
    {% endif %}

    <p>Change Image (optional):</p>
    <input type="file" name="image">

    <br><br>
    <button type="submit">Update</button>

</form>

<br>
<a href="/admin">Back</a>

</body>
</html>